<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Session e Cookie</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main>
    <div class="container">

      <% if(typeof userRegistered != "undefined"){ %>
        <p class="show-msg-box">Olá <%= userRegistered.name %> você escolheu a cor: <%= userRegistered.color %>, seu email é: <%= userRegistered.email %> e sua idade é de: <%= userRegistered.age %> anos    </p>
     <% } %> 
        
      
      
      <h2>Cadastrando Usuário</h2>
      <form action="/admin/register" method="POST">


        <label for="name">Digite seu nome</label>
        <input type="text" name="name" id="name" value="<%= locals.old ? old.name : "" %>">

        <% if(locals.errors && errors.name){ %>

          <div class="danger-container">
            <div class="danger">
              <%= errors.name.msg %> 
            </div>
          </div>
          
        <% } %> 

        <label for="color">Selecione uma cor</label>
        <select name="color" id="color">
          <option value="azul">Azul</option>
          <option value="amarelo">Amarelo</option>
          <option value="verde">Verde</option>
          <option value="vermelho">Vermelho</option>
          <option value="laranja">Laranja</option>
          <option value="branco">Branco</option>
          <option value="preto">Preto</option>
          <option value="rosa">Rosa</option>
        </select>

        <% if(locals.errors && errors.color){ %>
          
          <div class="danger-container">
            <div class="danger">
              <%= errors.color.msg %> 
            </div>
          </div>
          
        <% } %> 

        <label for="email">Digite seu e-mail</label>
        <input type="email" name="email" id="email" value="<%= locals.old ? old.email : "" %>">

        <% if(locals.errors && errors.email){ %>
          
          <div class="danger-container">
            <div class="danger">
              <%= errors.email.msg %> 
            </div>
          </div>
          
        <% } %> 

        <label for="age">Digite sua idade</label>
        <input type="number" name="age" id="age" value="<%= locals.old ? old.age : "" %>">

        <% if(locals.errors && errors.age){ %>
          
          <div class="danger-container">
            <div class="danger">
              <%= errors.age.msg %> 
            </div>
          </div>
          
        <% } %> 

        <button type="submit" class="send-btn">Enviar</button>

      </form>

    </div>
  </main>
</body>
</html>