<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Session e Cookie</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body <%= typeof userRegistered != 'undefined' ? `style=background-color:${userRegistered.color}` : '' %> >
  <main>
    <div class="container">

      <% if(typeof userRegistered != "undefined"){ %>
        <p class="show-msg-box">Olá <%= userRegistered.name %> você escolheu a cor: <%= userRegistered.color %>, seu email é: <%= userRegistered.email %> e sua idade é de: <%= userRegistered.age %> anos    </p>
     <% } %> 
        
      
      
      <h2>Cadastrando Usuário</h2>
      <form action="/register" method="POST">


        <label for="name">Digite seu nome</label>
        <input type="text" name="name" id="name" value="<%= locals.old ? old.name : "" %>">

        <% if(locals.errors && errors.name){ %>

          <div class="danger-container">
            <div class="danger">
              <%= errors.name.msg %> 
            </div>
          </div>
          
        <% } %> 

        <label for="color">Selecione uma cor</label>
        <select name="color" id="color">
          <option value="blue">Azul</option>
          <option value="yellow">Amarelo</option>
          <option value="green">Verde</option>
          <option value="red">Vermelho</option>
          <option value="orange">Laranja</option>
          <option value="white">Branco</option>
          <option value="black">Preto</option>
          <option value="pink">Rosa</option>
        </select>

        <% if(locals.errors && errors.color){ %>
          
          <div class="danger-container">
            <div class="danger">
              <%= errors.color.msg %> 
            </div>
          </div>
          
        <% } %> 

        <label for="email">Digite seu e-mail</label>
        <input type="email" name="email" id="email" value="<%= locals.old ? old.email : "" %>">

        <% if(locals.errors && errors.email){ %>
          
          <div class="danger-container">
            <div class="danger">
              <%= errors.email.msg %> 
            </div>
          </div>
          
        <% } %> 

        <label for="age">Digite sua idade</label>
        <input type="text" name="age" id="age" value="<%= locals.old ? old.age : "" %>">

        <% if(locals.errors && errors.age){ %>
          
          <div class="danger-container">
            <div class="danger">
              <%= errors.age.msg %> 
            </div>
          </div>
          
        <% } %> 

        <div style="display: flex; width: 100%; justify-content: flex-start; margin-left: 10%; margin-top: 10px;">
          <input type="checkbox" name="remember_color" id="remember_color" style="width: 20px; height: 20px;margin-right: 5px;">
          <label for="remember_color" style="margin: 0;">Lembrar a cor</label>
          
        </div>
        

        <button type="submit" class="send-btn">Enviar</button>

      </form>

    </div>
  </main>
</body>
</html>